/**
 * @category   CSS
 * @package    Onion Grid
 * @author     Humberto Lourenço <betto@m3uzz.com>
 * @copyright  2014-2020 Humberto Lourenço <betto@m3uzz.com>
 * @license    http://www.opensource.org/licenses/BSD-3-Clause  The BSD 3-Clause License
 * @link       http://github.com/m3uzz/onion-grid
 */

.onion-grid-page-header{
    margin: 30px 0 30px 0;
}
.onion-grid-folder{ 
    font-size:12px;
}
.table {
    background-color:#fff;
}
.onion-grid-resizable{
    overflow:auto;
    resize:horizontal;
}
.onion-grid-th-checkbox{
    text-align:center;
}
.onion-grid-td-not-found{
    text-align:center;
    padding:15px 0;
    font-weight:bold;
}
.onion-grid-pagination-info{
    margin:15px 0;
}
.onion-grid-filter-submit{
    margin-right:30px;
}
.justify-content-end .onion-grid-filter-submit{
    margin-right:0;
}
.onion-grid-form-filter-area .form-control[disabled], .onion-grid-form-filter-area .form-control[readonly], .onion-grid-form-filter-area fieldset[disabled] .form-control{
    background-color:#444;
    opacity:1;
}
.navbar-collapse .in {
    overflow-y:visible;
}
