<?php 
return [
    'default' => [    
        'grid' => [
            'page' => [
                'content' => '
                    #{css}#
                    <div id="#{container-id}#" class="onion-grid">
                        #{title}#
                        #{msgs}#
                        #{header}#
                        <form data-grid-id="#{id}#" id="#{form-id}#" class="onion-grid-form" action="#{action}#" method="#{method}#" data-request="#{request}#" data-content-area="##{container-id}#" novalidate="novalidate">
                            #{form}#
                            #{toolbar}#
                            #{table}#
                            #{pagination}#
                            #{modal}#
                            #{confirm}#
                            #{alert}#
                        </form>
                    </div>
                    #{js}#',
                'header' => '
                    <div class="onion-grid-page-header my-4">
                        <h1 class="onion-grid-h1">
                            #{icon}# 
                            #{title}# 
                            #{folder}#
                        </h1>
                        #{desc}#
                    </div>',
                'header-folder' => '
                    <span class="onion-grid-folder fs-6">
                        #{icon}# #{title}#
                    </span>',
                'header-description' => '
                    <p class="onion-grid-desc">
                        #{desc}#
                    </p>',    
                'pagination' => '
                    <div class="container-fluid bg-white shadow-sm mb-3">
                        <div class="row">
                            <div class="col-sm-12 col-md-5">
                                <div class="d-none d-sm-block onion-grid-pagination-info mt-md-4 d-flex justify-content-md-start justify-content-center" role="status" aria-live="polite">
                                    #{info1}#
                                </div>
                                <div class="d-block d-sm-none onion-grid-pagination-info mt-md-4 d-flex justify-content-center" role="status" aria-live="polite">
                                    #{info2}#
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-7 d-print-none">
                                <div class="mt-md-3 d-flex justify-content-md-end justify-content-center">
                                    #{pagination}#
                                </div>
                            </div>
                        </div>
                    </div>',
                'alert' => '
                    <div id="#{id}#" class="#{modal-class}# modal fade d-print-none" tabindex="-1" role="dialog" aria-labelledby="onion-grid-modal-alert-label" aria-hidden="true">
                        <div class="modal-dialog modal-md" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="onion-grid-modal-alert-label">#{title}#</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <p>#{msg}#</p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-primary rounded-pill" data-bs-dismiss="modal">#{close-btn}#</button>
                                </div>
                            </div>
                        </div>
                    </div>',
                'confirmation' => '
                    <div id="#{id}#" class="#{modal-class}# modal fade d-print-none" tabindex="-1" role="dialog" aria-labelledby="onion-grid-modal-confirmation-label" aria-hidden="true">
                        <div class="modal-dialog modal-md" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="onion-grid-modal-confirmation-label">#{title}#</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-outline-secondary rounded-pill" data-bs-dismiss="modal">#{cancel-btn}#</button>
                                    <button id="#{confirm-id}#" type="button" class="btn btn-primary rounded-pill #{btn-confirm-class}#" data-bs-dismiss="modal">#{confirm-btn}#</button>
                                </div>
                            </div>
                        </div>
                    </div>',
                'modal' => '
                    <div id="#{id}#" class="#{modal-class}# modal fade d-print-none" tabindex="-1" role="dialog" aria-labelledby="onion-grid-modal-label" aria-hidden="true">
                        <div class="modal-dialog modal-xl modal-fullscreen-lg-down" data-original-dimension="modal-xl" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="onion-grid-modal-label">#{title}#</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                </div>
                                <div class="modal-footer">
                                    <button id="#{cancel-id}#" type="button" class="btn btn-outline-secondary rounded-pill #{btn-cancel-class}#" data-bs-dismiss="modal">#{cancel-btn}#</button>
                                    <button id="#{ok-id}#" type="button" class="btn btn-primary rounded-pill #{btn-ok-class}#" data-btn-confirm-name="#{ok-btn}#">#{ok-btn}#</button>
                                </div>
                            </div>
                        </div>
                    </div>',
                'message' => '
                    <div class="alert alert-#{type}# alert-dismissible fade show" role="alert">
                        #{msg}#
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>'
            ],
        
            'table' => [
                'table' => '
                    <div class="table-responsive-md rounded mt-4">
                        <table id="#{table-id}#" class="onion-grid-table table table-hover table-condensed table-sm">
                            <thead class="table-light">
                                #{header}#
                            </thead>
                            <tbody>
                                #{rows}#
                            </tbody>
                            <tfoot>
                                #{footer}#
                            </tfoot>
                        </table>
                    </div>',
                'thead' => '
                    <tr class="onion-grid-tr-header">
                        #{colums}#
                    </tr>',
                'th' =>'
                    <th class="#{type}# #{resize}# #{hide}# #{align}#">
                        #{col}#
                    </th>',        
                'thead-link' => '
                    <a class="#{title-class}# #{class}# text-decoration-none" href="#" data-act="#{act}#" data-col="#{id}#" data-col-ord="#{col}#" data-ord="#{ord}#" title="#{desc}#">
                        #{title}##{caret}#
                    </a>',
                'thead-static' => '
                    <span class="onion-grid-nosortable text-default" title="#{desc}#">
                        #{title}#
                    </span>',
                'thead-caret' => '<span class="order d-print-none"></span>',
                'row' => '
                    <tr id="#{row-id}#" class="#{class}#">
                        #{colums}#
                    </tr>',
                'td' => '
                    <td id="#{cell-id}#" class="#{type}# #{class}# #{hide}#" #{style}#>
                        #{data}#
                    </td>',
                'col-data-editable' => '
                    <div class="#{data-class}#" style="width:100%; min-height:22px;" title="#{desc}#">
                        #{data}#
                    </div>
                    <div class="#{input-class}#" id="#{input-id}#" title="#{input-desc}#" style="display:none;">
                        <div class="input-group">
                            #{input}#
                        </div>
                    </div>',
                'col-data-input' => '<p type="text" id="#{input-id}#" data-id="#{row-id}#" name="#{id}#" class="form-control #{class}#" autocomplete="on" value="#{value}#" #{params}#/>',
                'extra-row-data' => '
                    <tr id="#{row-extra-id}#" class="accordion-collapse collapse" aria-labelledby="#{row-id}#">
                        <td class="accordion-body p-0" colspan="#{cols}#">
                            #{content}#
                        </td>
                    </tr>',
                'not-found' => '
                    <tr>
                        <td class="onion-grid-td-not-found" colspan="#{cols}#">
                            <p class="my-5 d-flex justify-content-center fs-3">
                                #{msg}#
                            </p>
                        </td>
                    </tr>'
            ],
        
            'toolbar' => [
                'nav' => '
                    <nav class="navbar navbar-expand navbar-dark d-print-none mb-2 rounded">
                        <div class="container-fluid">
                            <ul class="nav navbar-nav me-auto my-2 my-lg-0">
                                #{left-btns}#
                            </ul>
                            <ul class="nav navbar-nav md-auto my-2 my-lg-0">
                                #{right-btns}#
                            </ul>
                        </div>
                    </nav>
                    #{search-form}#
                    #{filter-form}#',
                'iten' => '
                    <li class="nav-item dropdown">
                        #{button}#
                    </li>',
                'btn-title' => '<span class="d-none">#{title}#</span>',
                'collapse-btn-params' => [
                    'data-bs-toggle' => 'collapse',
                    'aria-expanded' => 'false',
                    'aria-controls' => '#{area-id}#'
                ],
                'search' => '
                    <div class="collapse onion-grid-form-search-area" id="#{id}#">
                        <div class="card mt-1">
                            <div class="card-body">
                                <div class="input-group">
                                    #{dropdown}#
                                    #{input}#
                                    #{submit-btn}#								
                                </div>			
                            </div>
                        </div>
                    </div>',        
                'filter' => '
                    <div class="collapse onion-grid-form-filter-area" id="#{id}#">
                        <div class="card mt-1 bg-light text-dark">
                            <div class="card-body">
                                <div class="row">
                                    #{form}#
                                </div>
                            </div>
                            <div class="card-footer d-flex justify-content-end">
                                #{submit-btn}#
                            </div>
                        </div>
                    </div>',
                'search-iten' => '<input class="#{class}# form-check-input mr-1" type="checkbox" name="f[]" data-toUpper="false" value="#{value}#" #{searchable}#/> <label class="form-check-label">#{label}#</label>'
            ],
        
            'button' => [
                'on-row' => '
                    <a id="#{id}#" class="#{class}# text-decoration-none" style="#{style}#" title="#{desc}#" rel="#{rel}#" alt="#{alt}#" #{reqType}# #{href}# #{target}# #{params}#>
                        #{icon}##{label}#
                    </a>',
                'on-row-dropdown' => '
                    <a id="#{id}#" class="dropdown-item #{class}# text-decoration-none" style="#{style}#" title="#{desc}#" rel="#{rel}#" alt="#{alt}#" #{reqType}# #{href}# #{target}# #{params}#>
                        #{icon}##{label}#
                    </a>',            
                'on-toolbar' => '
                    <a id="#{id}#" class="nav-link #{class}# text-decoration-none" style="#{style}#" title="#{desc}#" rel="#{rel}#" alt="#{alt}#" #{reqType}# #{href}# #{target}# #{params}#>
                        #{icon}#<span class="d-none d-lg-inline">#{label}#</span>
                    </a>',
                'on-dropdown' => '
                    <a id="#{id}#" class="dropdown-item #{class}# text-decoration-none" style="#{style}#" title="#{desc}#" rel="#{rel}#" alt="#{alt}#" #{reqType}# #{href}# #{target}# #{params}#>
                        #{icon}##{label}#
                    </a>',                        
                'separator' => '<div class="dropdown-divider"></div>',
                'caret' => '<b class="caret"></b>',
                'img' => '<img loading="lazy" height="15" src="#{img}#"/>'
            ],
        
            'dropdown' => [
                'on-toolbar' => '
                    <a role="button" href="#" class="nav-link #{class}# d-print-none dropdown-toggle text-nowrap text-decoration-none" style="#{style}#" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" title="#{desc}#" #{params}#>
                        #{icon}#<span class="d-none d-lg-inline">#{label}#</span>#{caret}#
                    </a>
                    <div class="dropdown-menu d-print-none #{orientation}#">
                        #{dropdown}#
                    </div>',
                'on-row' => '
                    <div class="dropdown d-print-none">
                        <a role="button" href="#" class="#{class}# dropdown-toggle text-nowrap text-decoration-none" style="#{style}#" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" title="#{desc}#" #{params}#>
                            #{icon}##{label}##{caret}#
                        </a>
                        <div class="dropdown-menu #{orientation}#">
                            #{dropdown}#
                        </div>
                    </div>',
                'caret' => '',
                'dropdown-iten' => '#{button}#'
            ],
        
            'button-icons' => [
                'checkbox' => 'md-18 material-icons check_box_outline_blank',
                'reloadBtn' => 'material-icons settings_backup_restore',
                'printBtn' => 'material-icons print',
                'exportSelect' => 'material-icons file_download',
                'csvBtn' => 'material-icons subject',
                'pdfBtn' => 'material-icons picture_as_pdf',
                'xlsBtn' => 'material-icons calendar_view_month',
                'filterBtn' => 'material-icons filter_alt',
                'searchBtn' => 'material-icons search',
                'ViewColSelect' => 'material-icons view_column',
                'applyBtn' => 'material-icons done',
                'NumRowsSelect' => 'material-icons reorder',
                'submitBtn' => 'material-icons done',
                'submitSearchBtn' => 'material-icons search'
            ],
        
            'class' => [
                'hidden-print' => 'd-print-none',
                'align-left' => 'text-start',
                'align-center' => 'text-center',
                'align-right' => 'text-end',
                'orientation-left' => 'dropdown-menu-start',
                'orientation-right' => 'dropdown-menu-end',
                'resizable' => 'td-resizable',
                'checkbox' => 'form-check-input',
                'radio' => 'form-check-input',
                'label' => 'form-check-label',
                'input-group' => 'input-group-text text-decoration-none',
                'input' => 'form-control noUpper',
                'submit-filter' => 'pull-right btn btn-primary'
            ]        
        ]
    ]
];
